P  {}

H1  {
	font-size : 36;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : Black;
	background-color : White;
}

H2  {
	font-size : 30;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : Black;
	background-color : White;
}

H3  {
	font-size : 24;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : Black;
	background-color : White;
}

A  {}

A:Visited  {}

A:Active  {}

A:Hover  {}

BODY  {}

th  {
	font-size : medium;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : Black;
	background-color : #CCCCFF;
}

